PROJECT_NAME=
DEBUG=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_EXTERNAL_PORT=
POSTGRES_DB=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

REDIS_URL=
RABBITMQ_URL=

MINIO_URL=
MINIO_PUBLIC_URL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=
TICKET_DOWNLOAD_URL_EXPIRE_SECONDS=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=
MAIL_STARTTLS=
MAIL_SSL_TLS=
